.main-header {
  height: 100vh;

  background-image: url(https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpl1/v/t1.0-9/11999062_1641757556102302_8252148374107087309_n.jpg?oh=971c2fc788c3e8e9d143de8f90ed6d43&oe=568D6F98);
  background-position: center center;
  background-size: cover;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
}

.header-title {
  margin-top: 0;

  font-size: 6em;
}

/*.social {
  align-items: center;
  height: 60px;
}

.linkedin {
  height: 60px;
  width: 60px;
}*/

.header-subtitle {
  font-size: 3.4em;
}

@media (max-width: 480px) {
  .header-title {
    font-size: 2em;
  }

  .header-subtitle {
    font-size: 1em;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;

  background-color: transparent;
}

.navbar a {
  color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

footer {
  padding: 2em;

  text-align: center;
  font-size: 1.2em;
}
/*
footer .fa-heart {
  color: #f77380;
}
*/
.container {
  max-width: 60em;
}

section {
  padding: 100px 0;

  color: #fff;
}

.section-title {
  margin-top: 0;
  padding-bottom: 10px;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  /*text-align: center;*/
  padding-left: 60px;
}

#about {
  min-height: 700px;
  min-width: 950px;
  /*background-color: #339DCA;*/
  background-image: url("/assets/img/2015-06-13 00.19.19.jpg"); 
  padding-bottom: 40px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}


/*.content-right {
  display: inline-block;
}*/

.headshot {
  width: 100%;
  border: 2px solid #fff;
}

/*#skills {
  display: flex
  max-width: 400px;
}*/

@media (max-width: 480px) {
  .about-wrapper {
    display: block;
  }
/*
  .container {
    display: inline-block;
  }
*/

  /*#skills {
    display: inline-block;
    display: flex;
  }*/

  .about-wrapper div:first-child {
    text-align: center;
  }


  .headshot {
    width: 50%;
    margin-bottom: 45px;
  }
}

#experiences {
  min-height: 500px;
  background-image: url(https://images.unsplash.com/photo-1429389500602-ee846f41eea7?q=80&fm=jpg&s=a4bb94171d7805618909e2b7a5951ce8);
  /*background-size: 100%;
  background-repeat: no-repeat; */
}

.experience-title {
  text-align: center;
  color: black;

  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.education {
  font-size: 1.4em;
  font-style: Courier;
  color: black;
}

.sub-title {
  font-size: 35px;
  font-weight: 300;
}

#experiences a {
  color: black;
}

#experiences a:hover {
  text-decoration: underline;
}

.name {
  font-weight: 500;
}


#blogs {
  min-height: 600px;
  min-width: 950px;
  /*background-color: #339DCA;*/
  /*background-image: url(); */
  padding-bottom: 40px;
  text-align: center;
  color: black;
}

#blogs h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#blogs p {
  font-size: 40px;
}

#contact {
  min-height: 750px;
  min-width: 950px;
  background: url(https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?q=80&fm=jpg&s=f24faa3ab00a050e0b1527fd0bb629b0);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contact-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.contact-input {
  padding: 25px;
  margin: 25px 0;
}

.contact-input:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-submit {
  padding: 15px;
  width: 200px;
}

.contact-notification {
  display: none;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .contact-input {
    margin: 25px 0;
  }

  .contact-input:first-child {
    margin-top: 25px;
  }

  .contact-submit {
    margin-left: 0;
    width: 100%;
  }
}

.button-wrapper {
  text-align: center;
}